In [1]:
import numpy as np
import pandas as pd

In [6]:
DATA = {'LName': ['Monkey', 'Roronora', 'Vinsmoke', '', '', 'Tony', 'Nico'],
        'MName': ['D', '', '', '', '', 'Tony', ''],
        'FName': ['Luffy', 'Zoro', 'Sanji', 'Nami', 'Ussop', 'Chopper', 'Robin'],
        }

In [7]:

a = pd.DataFrame(DATA)

In [8]:
a.head(10)

      LName MName    FName
0    Monkey     D    Luffy
1  Roronora           Zoro
2  Vinsmoke          Sanji
3                     Nami
4                    Ussop
5      Tony  Tony  Chopper
6      Nico          Robin